* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  background-color: #fff;
  height: 35em;
}

header .back-header{
  background-color: #9ACCEF;
	background-size: 345%;
	background-position: 100% 0%;
  height: 31em;
	z-index: -100;
}

header * {
  color: #fff;
}

header .align-middle {
	height: 31em;
	position: absolute;
	width: 100%;
	top: 15%;
}

nav {
  width: 90%;
}

.navbar-right {
  margin: 0;
  padding: 0;
}

.blue {
	background-color: #1280C9;
}

.float {
	height: 400px;
	width: 100%;
	position: absolute;
	bottom: 010em;
}

.icons {
	width: 600px;
	height: 100px;
	background-size: 40%;
	background-position: center;
	display: inline-block;
	position: absolute;
	bottom: 0;
}

.bike {
	left: 0;
}

.house {
	width: 800px;
	height: 600px;
	right: 0;
	background-size: cover;
}


/*How It Works*/
.elipse {
  border-radius: 100%;
  background-color: #FFCC66;
	background-size: 70%;
	background-position: 50% 40%;
  height: 18em;
	width: 18em;
}
